/* Seçao lado direito: Busca/Noticias/Quem seguir/Rodape */

/* Busca */
.busca .icon-search {
    justify-content: center;
    display: grid;
    background: #EFF3F4;
    align-items: center;
    padding: 10px 15px;
    font-size: 1.3em;
    font-weight: bold;
}

.busca .form-control {
    background: #EFF3F4;
    padding: 21px;
}

.busca form {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}


.busca.active form {
    border: 1px solid #1da1f2;
}

.busca.active .icon-search {
    color: #1da1f2;
    
}

.busca.active .form-control {
    background: none;
    border: none;
}

.busca.active .icon-search {
    background: none;
}

.busca .resultados {
    display: grid;
    grid-template-columns: auto auto auto;
    background: #F7F9F9;
    margin: 15px 0;
    border-radius: 40px;
    padding: 10px 5px;
    cursor: pointer;
}



.busca .resultados:hover {
    background: #EFF1F1;
}


.busca .profile {
    width: 70px;
    min-height: 60px;
}

.busca .profile .imgBx {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.busca .profile .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.busca .nome {
    font-size: 1em;
    font-weight: 700;
}

.busca .botoes a{
    color: #0c7ec5;
    transition: 0.3s;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    display: block;
}

.busca .botoes a:hover{
    background: #1DA1F2;
    color: #fff;
}

.toggle-search {
    background: none;
    font-size: 1.5em;
    border-radius: 5px;
    color: #0c7ec5;
    border: 2px solid #0c7ec5;
    margin: 15px 2%;
    cursor: pointer;
    height: 50px;
    width: 45px;
}

.toggle-search.active {
    background: #0c7ec5;
    color: #fff;
}

.toggle-search:hover {
    background: #0c7ec5;
    color: #fff;
}

.tweetBox {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    /* border: 1px solid #e6ecf0; */
}

.quemSeguir {
    border: 1px solid #e6ecf0;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.quemSeguirTitulo {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.quemSeguirTxt, .quemSeguirTxt:hover {
    color: #1DA1F2;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}



/* Noticias */
.noticias {
    background: #F7F9F9;
    min-height: 60px;
    border-radius: 20px;
}

.noticias .not {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
}

.noticias .not:hover {
    background: #EFF1F1;
}

.noticias h1 {
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.noticias h2 {
    font-size: 15px;
    margin: 0;
}

.noticias h3 {
    font-size: 13px;
    margin: 0;
}

.noticias .mais {
    margin: 15px 0;
    display: block;
    padding: 10px;
}

.noticias .mais:hover {
    background: #EFF1F1;
    border-radius: 0 0px 20px 20px;
}

/* Rodape */

.rodape {
    font-size: 13px;
    padding: 15px 5px;
    color: #5e6a74;
}

.rodape a {
    color: #677682;
}
.rodape a:hover {
    text-decoration: underline;
}