#container__login {
    width: 100%;
    height: 100vh;

    display: flex;
    background: url(../img/lohp_1302x955.png) no-repeat left center;
    background-size: cover;
}

#container__login .bgLogin {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px; 

}

#container__login .bgLogin svg {
    width: 360px;
    height: 293px;
}

#container__login .container__registrer {
    height: 100vh;
    width: 90%;
    max-width: 865px;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 90px 36px;
    background-color: #fff;
}

.container__registrer .logo {
    width: 63px;
    height: 55px;
    fill: rgb(29, 155, 240);
}

#container__login .container__registrer img {
    width: 43px;
    height: 35px;
}

.container__registrer h1 {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -3;
}

.container__registrer h2 {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: -2;
}

.container-inscreverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 320px;
    padding: 10px;
}

.container-inscreverse #google_apple {
    display: flex;
    flex-direction: column;

    width: 300px;

    background: #fff;
    border: none;
    border-radius: 15px;
}

.container-inscreverse #google_apple button {
    width: 100%;
    height: 40px;

    background: #fff;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 25px;
    margin-bottom: 8px;

    color: #000;
    font-weight: 700;
}

.container__registrer .ou {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8px;

    border-bottom: 1px solid rgb(207, 217, 222);
}

.container__registrer .ou span {
    position: absolute;
    top: -14px;
    background: #fff;

    padding: 0 4px;
}

.container-inscreverse .button-inscrever {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background: #1d9bf0;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 25px;
    margin-bottom: 8px;
    font-weight: 700;
}

.container-inscreverse .termo {
    font-size: 11px;
    color: #536471;
}

.container__sin-in {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    width: 320px;
    padding: 10px;
}

.container__sin-in h2 {
    font-size: 17px;
    color: #0f1419;
    letter-spacing: 0;
    font-weight: 700;
}

.container__sin-in .button-entrar {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    background: #fff;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 25px;
    margin-bottom: 8px;
    font-weight: 700;
}

@media (max-width:850px) {
    #container__login .bgLogin {
        display: none;
    }

    #container__login .container__registrer {
        width: 100%;
        align-items: center;
    }
}

@media (max-width:410px) {
    .container__registrer h1 {
        font-size: 54px;
    }
    
    .container__registrer h2 {
        font-size: 21px;
        font-weight: bold;
        letter-spacing: -2;
    }
}

/* .bg {
    background: #999999;
    height: 100vh;
    display: flex;
}

#cadastro .button-close {
    padding: 6px 10px 10px;
}

#cadastro .card {
    border-radius: 20px;
    box-sizing: border-box;
}



#cadastro .button-close:hover {
    border-radius: 100px;
    background: #99999946;
}

.formulario input {
    height: 50px;
}

.formulario .input-group-text {
    background: none;
    border: 1px solid #e6ecf0;
    border-left: none;
    color: green;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner {
	height: 100%;
	background-color: #1da1f2;
    background: url(../img/lohp_1302x955.png) center center no-repeat;
}

#svg-logo {
    width: 100%;
}

.title {
    font-family: "Akira", "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 4em;
    font-weight: 600;
}

.subtitle {
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	color: #14171a;
    font-size: 2em;
    line-height: 24px;
    margin: 16px auto;
}

.container__login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}

.container__sin-in {
    width: 50%;
    margin-bottom: 20%;
    width: 300px;
}

.container__registrer img {
    max-width: 80px;
    margin-top: 50px;
}

.login {
    border: 1px solid #65778675;
    border-radius: 100px;
    padding: 2% 15%;
    text-align: center;
    margin: 2%;
    font-size: 1em;
}

.fazer-login {
    font-weight: 700;
    background: #272C30;
    cursor: pointer;
    color: #fff;
}

.celular {
    font-size: 1em;
    color: #fff;
    background: #1DA1F2;
    font-weight: 700;
    padding: 2%;
    text-decoration: none;
}

.celular:hover {
    background: #0c7ec5;
}

.container-inscreverse {
    max-width: 400px;
}

.container-inscreverse button {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border: none;
    display: block;
    background: none;
    width: 100%;
}

#google_apple .login:hover {
    background-color: #E6E6E6;
}

.entrar {
    color: #1DA1F2
}

.entrar:hover {
    background-color: #E8F5FD;
    color: #1DA1F2
}

.ou {
    text-align: center;
    background: url(../img/Screenshot_2-removebg-preview.png);
    margin: 3%;
}

.form-control {
	background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
} */

