.menu-lateral {
    height: 100vh;
    position: fixed;
}

.navigation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
}

.navigation.show {
    width: 70px;
    overflow: hidden;
}

.navigation.show .menu-lat li a .icon {
    margin: 0 30px 0 12px;
}

.navigation.show .logo-menu {
    margin-left: 7px;
}

.navigation.show .profile {
    padding: 0;
    width: 95%;
}

.logo-menu {
    color: blue;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    width: 60px;
    margin-left: 20px;
}

.logo-menu:hover {
    background-color: #E8F5FD;
    cursor: pointer;
}

.navigation .profile {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    cursor: pointer;
}

.navigation .profile .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    overflow: hidden;
}

.navigation .profile .imgBx img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.navigation .menu-lat {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    height: 100%;
    position: relative;
    padding: 10px;
}

.navigation.active .menu-lat {
    padding: 10px 20px;
}

.navigation .menu-lat li {
    list-style: none;
}

.navigation .menu-lat li a {
    position: relative;
    display: flex;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
}

.navigation .menu-lat li:hover {
    background: #E7E7E8;
    color: #000;
    border-radius: 9999px;
}

.navigation .menu-lat li a .icon {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.navigation .menu-lat li a .text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}

.tweetar {
    background: #1A8CD8;
    border-radius: 50px;
    padding: 10px 60px;
    margin-left: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
}

#botao-sair {
    text-decoration: none;
    color: #000;
    border-radius: 15px;
    display: inline;
    padding: 5px;
    transition: 0.5s;
}

#botao-sair:hover {
    color: #0c7ec5;
}

.icone-sair {
    position: relative;
    font-size: 1.3em;
    top: -5%;
}