.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.navigation .menu {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0 10px;
}

.navigation .menu .logo {
    padding-left: 12px;
    padding-top: 12px;
    margin-bottom: 16px;
}

.navigation .menu .logo svg {
    width: 28px;
}

.navigation .menu li.active a .icon {
    position: relative;
}

.navigation .menu li a .icon svg {
    width: 26px;
    height: 26px;
    
}

.navigation .menu li.active a .icon::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: rgb(29, 155, 240);
    position: absolute;
    right: 0;
    border-radius: 50%;
}

.navigation .menu li.active a {
    font-weight: bold;
}

.navigation .menu li a {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 12px;
    font-size: 20px;
    
    color: #0f1419; 
    border-radius: 30px;   
}

.navigation .menu li a:hover {
    background-color: rgba(15, 20, 25, 0.1);
}

.navigation .menu li button {
    width: 100%;
    height: 52px;

    display: block;
    padding: 0 32px;
    margin-top: 20px;

    background-color: #1D9BF0;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
}

.navigation .menu li a .text {
    margin-left: 16px;
}

.navigation .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    padding: 0 12px;
    border-radius: 30px;
    margin: 12px;
}

.navigation .profile:hover {
    background-color: rgba(15, 20, 25, 0.1);
}

.navigation .profile .avatar {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    
    border-radius: 50%;
    overflow: hidden;
}

.navigation .profile .userInfo {
    margin-left: 16px;
    font-size: 15px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation .profile img {
    width: 100%;
}

.navigation .profile a {
    color: gray;
    transition: 0.3s;

    display: flex;
    align-items: center;
    width: max-content;
    padding: 2px 5px;

    border: 1px solid transparent;
    border-radius: 30px;
}

.navigation .profile a:hover {
    color: #000;

    border: 1px solid gray;
}