@import url('busca.css');
@import url('login.css');
@import url('menu.css');
@import url('timeline.css');
@import url('editar-perfil.css');
@import url('entrar.css');

@font-face {
    font-family: "Akira";
    src: url(../font/ABESIF-PersonalUse.otf);
 }


html, body {
  height: 100%;
}

a:hover {
    text-decoration: none;
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
}

#container-central {
    display: grid;
    justify-content: center;
}

.container-page {
    display: grid;
    grid-template-areas: 'MENU SECTION ASIDE';
    grid-template-columns: 270px auto 350px;
    grid-template-rows: 100vh;
    justify-content: center;

}

.esquerdo {
    grid-area: MENU;
}

.timeline {
    grid-area: SECTION;
    width: max-content;

    overflow-y: scroll;

    border-left: 1px solid #f7f9f9;
    border-right: 1px solid #f7f9f9;
}

.timeline::-webkit-scrollbar {
    display: none;
}

.direito {
    grid-area: ASIDE;
    margin-left: 12px;
    margin-right: 12px;
    padding-right: 12px;
}

@media (max-width:1275px) {
    .container-page {
        grid-template-columns: max-content auto 350px;    
    }
}

@media (max-width:1095px) {
    .container-page {
        grid-template-columns: max-content auto auto;    
    }

    .direito {
        display: none;
    }

    .timeline {
        display: block;
    }
}

/* @media (max-width:686px) {
    .container-page {
        grid-template-columns: max-content auto 0%;    
    }
} */



/* Media Queries */

/* @media (max-width: 991px)
{
    .container-page {
        grid-template-columns: 10% auto 5%;
    }

    #container-central {
        justify-content: inherit;
    }

    .navigation .menu-lat li:hover {
        background: none;
    }

    .navigation .menu-lat li a .icon {
        margin: auto;
        position: relative;
        width: 47px;
        
        font-size: 1.5em;
        padding: 0 5px;
    }

    .navigation .menu-lat li a .icon:hover {
        background: #E7E7E8;
        color: #000;
        border-radius: 9999px;
        padding: 0;
    }

    .tit-index {
        text-align: center;
    }

    .container-inscreverse {
        margin: auto;
    }

    .container__login {
        justify-content: center;
        text-align: center;
    }

    .container__sin-in {
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 850px)
{
    .container-page {
        grid-template-columns: 18% auto 6%;
    }
}

@media (max-width: 550px)
{
    .container-page {
        grid-template-columns: 18% auto 12%;
    }
    .container {
        padding: 0;
    }

    .tweet {
        grid-template-columns: 28% auto 10%;
    }

    .title {
        font-size: 2em;
    }

    .login {
        font-size: 0.8em;
    }
}
 */
