/* Timeline */

.tweet {
    max-width: 598px;

    display: grid;
    grid-template-areas: 'PF TW';

    padding: 12px 16px;
}

.content_newTweet {
    max-width: 598px;
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
}

.content_newTweet .initial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_newTweet .initial h1 {
    font-size: 20px;
}

.content_newTweet .initial span {
    width: 20px;
    height: 20px;
}

.content_newTweet .newTweet {
    display: flex;
}

.content_newTweet .newTweet .profile {
    width: 48px;

    margin-right: 12px;
    padding-top: 4px;
}

.content_newTweet .newTweet .profile .imgBx {
    width: 48px;
    height: 48px;

    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.content_newTweet .newTweet .profile .imgBx img {
    width: 48px;
    height: 48px;


    flex-shrink: 0;
    object-fit: cover;
}

.content_newTweet .newTweet form {
    width: 100%;
    height: 100%;
    padding: 12px 0;
}

.content_newTweet .newTweet form textarea {
    width: 100%;
    height: 100%;

    background-color: transparent;
    resize: none;
    border: none;
}

.content_newTweet .newTweet form textarea::placeholder {
    font-size: 20px;
    font-weight: 500;
}

.content_newTweet .content_widgets-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 60px;
}

.content_newTweet .content_widgets-submit .funcionalidades_tweet {
    display: flex;
    align-items: center;
}

.content_newTweet .content_widgets-submit .funcionalidades_tweet .icon {
    width: 34px;
    height: 34px;
    
    margin-right: 12px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content_newTweet .content_widgets-submit .funcionalidades_tweet .icon svg {
    width: 20px;
    height: 20px;
    
    fill: #1d9bf0;
}

.content_newTweet .content_widgets-submit .funcionalidades_tweet .icon:hover {
    background-color: #1d9cf046;
}








.tweet .profile {
    grid-area: PF;
    width: 48px;

    margin-right: 12px;
    padding-top: 4px;
}

.tweet .profile .imgBx {
    width: 48px;
    height: 48px;

    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.tweet .profile .imgBx img {
    width: 48px;
    height: 48px;


    flex-shrink: 0;
    object-fit: cover;
    /* height: 100%; */
}

.tweet .publicacao {
    grid-area: TW;
    width: 506px;
    height: max-content;
    
    display: grid;
    grid-template-areas: 
    'INFO CLOSE'
    'TWEET TWEET'
    'BUTTONS BUTTONS';
    grid-template-rows: 20px auto 32px;
    grid-template-columns: 1fr 30px;
}


.tweet .publicacao .info-user {
    grid-area: INFO;
    font-size: 15px;
    min-width: 100%;
    
    display: flex;
    align-items: center;
    grid-column: auto;
}
.tweet .publicacao .info-user strong {
    margin-right: 4px;
}

.tweet .publicacao .close {
    width: 19px; 
    height: 19px;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 35px;

    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    transition: .4s;
}

.tweet .publicacao .close:hover {
    background-color: #b4b4b4;
}

.tweet .publicacao .public {
    grid-area: TWEET;
}


.tweet .publicacao .tweet_button {
    grid-area: BUTTONS;
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 100%;
} 

.tweet .publicacao .tweet_button svg{
    width: 19px;
    height: 19px;
} 
















/* .timeline {
    min-width: 200px;
    border: 1px solid #e6ecf0;
}

.timeline .profile {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    min-width: 60px;
}

.timeline .profile .imgBx {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.timeline .profile .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tweet {
    display: grid;
    grid-template-columns: 18% auto 10%;
    margin: 0;
    padding:15px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    cursor: pointer;
}

.tweet:hover {
    background-color: #f5f8fa;
}

.container-responsive {    
    display: grid;
    grid-template-columns: auto 10%;

}

#textareaTweet {
    min-height: 65px;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e6ecf0;
    overflow-y: hidden;
}

#textareaTweet::-webkit-input-placeholder{
    font-size: 1.3em;
    font-weight: 500;
}
#textareaTweet::-moz-placeholder {
    font-size: 1.3em;
    font-weight: 500;
}

.timeline .tit_Tweet {
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
}

.timeline .tit_Tweet span {
    margin-left: auto;
    /*  
}

.timeline .icon {
    font-size: 1.2em;
    color: rgb(29, 155, 240);
    padding: 7px 3px 6px 9px;
}

.timeline .icon:hover {
    background-color: #E8F5FD;
    border-radius: 50px;
    cursor: pointer;
}

.success-cadastro {
    position: absolute;
    z-index: 9999;
    padding: 25px;
    margin: 20px;
}

.container-menu {
    display: grid;
    justify-content: end;
    padding-right: 5px;
}

.botao-tweetar {
    margin-left: auto;
    background: #1A8CD8;
    border-radius: 50px;
    padding: 7px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 0.8em;
    max-height: 35px;
}

.funcionalidades {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.funcionalidades .icon {
    padding: 10px 8px 9px 10px;
    color: rgb(83, 100, 113);
}

.funcionalidades .icon.verde:hover {
    background-color: #DEF1EB;
    color: green;
}

.funcionalidades .icon.vermelho:hover {
    background-color: #F7E0EB;
    color: red;
}

.funcionalidades .icon.azul:hover {
    color: #1A8CD8;
}

#excluirTweet {
    position: absolute;
    margin: 5px;
    right: 0;
    padding: 9px 7px 8px 8px;
    border: none;
    border-radius: 15px;
    color: #000;
}

#excluirTweet:hover {
    color: #1A8CD8;
}

.botao-excluir-tweet {
    margin: 5px;
} */